<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>..::: Flask + JS example for UCT students :::..</title>
    <meta name="description" content="Flask + JS example for UCT students">
    <meta name="author" content="https://github.com/joseespinadote">
    <link rel="stylesheet" href="/static/styles.css?v=1.0">
    <script src="/static/script.js"></script>
    </head>
    <body onload="funcOnLoad()">
        <div>Parámetro 1: <input id="param1"/></div>
        <div>Parámetro 2: <input id="param2"/></div>
        <div><button onclick="funcOnClick()">Enviar</button></div>
        <div id="resultado">Haciendo nada</div>
    </body>
</html>